menu "Application Configuration"
    config WIFI_SSID
        string "SSID of the used Wifi."
        default "wifi_ssid"
        help
            Add the name of the Wifi Network.

    config WIFI_PASSWORD
        string "Password of the used Wifi."
        default "wifi_password"
        help
            Add the password of the Wifi Network.

    config DEVICE_ID
        int "Device ID (0-255)."
        default 0
        help
            Device ID of this specific device. Needs to be change if more than one device is used.

    config MQTT_BROKER_URI
        string "URI of the MQTT broker."
        default "mqtt.uri.example"
        help
            Set the URI to the MQTT broker.

    config BUILD_FACTORY
        bool "Build factory firmware"
        default n
        help
            If enabled, the factory firmware will be built instead of the normal application.
            This is useful for initial setup or testing purposes.


endmenu
