menu "Wifi Application Config"
    config WIFI_MAXIMUM_RETRY
        int "Maximum attempts of WIFI connection retries."
        default 2
        help
            Set the maximum number of attempts to try to connect to the wifi. (Set to -1 for infinite attempts.)

    config WIFI_WAIT_TIME_BETWEEN_RETRY_MS
        int "Time to wait between WIFI connection retries in ms."
        default 600000
        help
            Set the time to wait between retries to connect to the wifi. (Default 10 min)

    config WIFI_SNTP_POOL_SERVER
        string "URL to the SNTP server."
        default "pool.ntp.org"
        help
            Server Address of the SNTP server pool to synchronize the system time.

    config WIFI_SNTP_INIT_WAIT_TIME_MS
        int "Time to wait for the initial SNTP server response in ms."
        default 60000
        help
            Set the time to wait for the initial SNTP server response. (Default 1 min)


endmenu
