menu "MQTT Application Configuration"
    config MQTT_USERNAME
        string "Username for MQTT."
        default ""
        help
            Set the username to connect to the MQTT broker.

    config MQTT_PASSWORD
        string "Password for MQTT."
        default ""
        help
            Set the password to connect to the MQTT broker.

    config MQTT_TIMEOUT_RECONNECT_MS
        int "Time to wait between reconnect attempts in ms."
        default 10000
        help
            Set the time to wait between reconnect attempts to the MQTT broker. (Default 10 s)

    config MQTT_MAX_RECONNECT_ATTEMPTS
        int "Maximum attempts of reconnecting to the MQTT broker."
        default 5
        help
            Set the maximum number of attempts to try to reconnect to the MQTT broker. (Set to -1 for infinite attempts.)

    config MQTT_WAIT_TIME_BETWEEN_RETRY_MS
        int "Time to wait between reconnect attempts in ms."
        default 600000
        help
            Set the time to wait between retries to connect to the MQTT broker. (Default 10 min)

    config MQTT_STATUS_TOPIC
        string "TOPIC for the status channel."
        default "ef/efc/static/status"
        help
            Set the topic which publishes the current status.

    config MQTT_CONFIG_RECEIVE_TOPIC
        string "Topic for receiving configs."
        default "ef/efc/config/set"
        help
            Set the topic where new configurations are arrived.

    config MQTT_CONFIG_SEND_TOPIC
        string "Topic for sending configs."
        default "ef/efc/static/config"
        help
            Set the topic on which the current config is published.

endmenu
